body {
	background-color:rgba(0,0,0,0);
	

}
#ab{  background-image: url('https://storage.googleapis.com/acciojob-open-file-collections/center-image.png');
	width: 90%;
	height: 90vh;
	/* display:flex; */
	size:auto;
	
    /* align-items: center; */
	
   }
#ab h1 {
    color: white;
    text-align: center;

}